html {
    min-height: 100%;
    color: #222;
    font-family: Speedee, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    width: 1170px;
    max-width: 1170px;
    height: 113px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.language-btn {
    background-color: var(--white) !important;
    border-radius: none !important;
    border: none !important;
    color: black !important;
    font-size: 0.9em !important;
    padding: 0 !important;
}

.language-btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.language-btn:active {
    background-color: inherit !important;
    /* Keeps the original color */
    border-color: inherit !important;
    /* Keeps the original border color */
    box-shadow: none !important;
    /* Removes the box-shadow */
}

.sign-up a,
.career a {
    text-decoration: none;
    color: var(--black);
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search img {
    width: 20px;
    filter: grayscale(100);
}

.search a {
    text-decoration: none;
    color: var(--black);
}

.find-location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.find-location img {
    width: 15px;
}

.nav-links-top-right button {
    background-color: var(--yellow);
    border: none;
}

.headerTop {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    gap: 40px;
    margin-right: 400px;
    padding: 10px 20px;
}

.iconLocation {
    width: 14px;
    height: 22.5px;
    margin-right: 9px;

}

.location {
    width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 20px;
}

.iconSearchWrapper {
    width: 28px;
    height: 28px;
    background: #db0007;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    color: white;
}

.iconSearch {
    width: 10px;
    height: 10px;
    color: white;
}

.iconLogo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.iconMenu {
    margin-right: 20px;
}

.headerSearch {
    width: 170px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 2rem;
    border: solid 2px rgba(182, 184, 185, .29);
    height: 34px;
    padding: 0 0 0 1.5625rem;
    justify-items: center;
    align-items: center;
    font-weight: 700;
    margin-left: 600px;
}

.full-menu-btn button {
    padding: 20px;
    background-color: var(--white);
    border: 1px solid;
    border-radius: 5px;
}

/* ----------------------------------------------------------- */


.footer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 1000px;
    padding: 15px;
    margin-bottom: 30px;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerButtom {
    width: 1170px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 0px;

}

/*................................................*/
footer {
    width: 900.4px;
    width: 100%;
    max-width: 900.4px;
    height: 784px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 15px;
}

.footerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    gap: 110px;
    padding: 15px 0;

}

.footerInfoColumn1 {
    padding: 19.5px 0;
    width: 140px;
}

.footerInfoColumn2 {
    padding: 19.5px 0;
    width: 110px;
    margin-left: 20px;
}

.footerInfoColumn3 {
    padding: 19.5px 0;
    width: 250px;
}

.footerInfoColumnTitle {
    font-weight: bold;
}

.footerMedia {
    margin: 18.75px 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 300px;

}

.socialMedia {
    width: 285px;
}

.app {
    width: 285px;
}

.footerMoreInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 150px;
    margin-top: 50px;

}

.footerCopyright {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 0;
}

.iconM {
    width: 28px;
    height: 24px;
}

.footerText {
    font-size: 14px;
}

/*..................................................*/
main {
    width: 900.4px;
    width: 100%;
    max-width: 900.4px;
    margin: 0 auto;
    background-color: #fff;
    display: grid;
    grid-template-rows: auto auto;

}

.main {
    margin-bottom: 9px;
    font-weight: 700;
    color: #db0007;
}

.catPic {
    width: 225px;
    margin-top: -80px;
}

.slide {
    background-color: #ffbc0d;
    color: #222;
    border-color: transparent;
    border-radius: 30px;
    width: 177.4px;
    height: 36px;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 23.4px;
    font-weight: 600;
    font-size: 12px;
    margin-left: 13px;
}

.iconSlide {
    margin: 3px 3px 3px 1rem;
    background-color: #db0007;
    border-radius: 50%;
    color: #fff;
    width: 1.875rem;
    height: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: background-color .3s cubic-bezier(.4, 0, 0, 1);
    transition: background-color .3s cubic-bezier(.4, 0, 0, 1);

}

.slideText {
    padding-top: 8px;
    width: 129.7px;
}

.category {
    background-color: #33353e;
    border-radius: 10px;
    padding: 1.875rem;
    text-align: center;
    margin-bottom: 7.5rem;
    width: 225px;
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.categoryWrapper {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-bottom: -80px;
}

/*...............................................*/
@media (max-width: 999px) {
    .headerTop {
        display: none;
    }

    .headerSearch {
        display: none;
    }

    main {
        display: grid;
        grid-template-rows: auto auto auto auto;
        padding: 0 126px;
    }

    footer {
        padding: 0 126px;
    }

    .categoryWrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .category {
        width: 746.4px;
    }

    .catPic {
        width: 400px;
        height: 300px;
        margin-left: 150px;
    }

    .slide {
        margin-left: 250px;
    }

    .footerMedia {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-left: 300px;
    }

    .footerMoreInfo {
        grid-template-columns: 1fr;
        gap: 2px;
    }

    .footerCopyright {
        justify-content: flex-start;
    }

    .iconMenu {
        margin-left: 1000px;
    }
}