:root{
    --yellow: #FFC72C;
    --white: #FFFFFF;
    --black: #000000;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

img{
    width: 40px;
}

/* ----------------------------------------------------------- */

/* FOR MOBILE MENU */

.mobile-menu{
    display: none;
    width: 100vw;
    height: 100vh;
    padding-right: 15px;
}

.nav-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 5px 10px;
}

.nav-1 img:nth-child(2){
    width: 25px;;
    filter: grayscale(100);
}

.main-nav{
    padding: 50px 0 0 80px;
}

.nav-2{
    border-bottom: 1px solid lightgray;
}

.nav-2-link-wrapper{
    list-style: none;
    padding-left: 0;

}

.nav-2-link-wrapper li{
    margin-bottom: 40px;
}

.nav-2-link-wrapper a{
    text-decoration: none;
    color: black;
}

.nav-3{
    padding-top: 45px;
    border-bottom: 1px solid lightgray;
}


.nav-3-link-wrapper{
    list-style: none;
    padding-left: 0;

}

.nav-3-link-wrapper li{
    margin-bottom: 45px;
}

.nav-3-link-wrapper a{
    text-decoration: none;
    color: black;
}

.nav-4{
    padding-top: 35px;
    border-bottom: 1px solid lightgray;
}

.mobile-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.mobile-search img{
    width: 20px;
    filter: grayscale(100);
}

.mobile-search a{
    text-decoration: none;
    color: black;
}

.find{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.find img{
    width: 20px;
}

.find a{
    color: rgb(65, 94, 156);
}

.accordion-item{
    border: none;
}

.language-accordion{
    margin-bottom: 40px;
}

.language-btn-mobile-menu{
    padding: 0 !important;
}


.footer-about-links li:nth-child(2){
    margin-bottom: 0;
}

.accordion-button:focus {
    color: var(--black) !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--white) !important;
}
  
.accordion-body{
    padding: 0 !important;
    margin: 50px 0;
}

.accordion-body ul{
    list-style: none;
    padding: 0;
}

.accordion-body li{
    margin-top: 5px;
}

.accordion-body li a{
    color: var(--black);
    text-decoration: none;
    font-size: 0.85em;
}

.menu-btn{
    padding: 0 !important;
    margin-bottom: 40px;
}

.full-menu-btn button{
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgray;
}

.menu-item{
    display: flex;
    align-items: center !important;
    gap: 20px;
    margin: 16px 0;
}

.menu-item img{
    width: 60px;
}

.menu-item p{
    color: black;
    margin-bottom: 0;
    font-weight: 500;
}

/* *********************************************************************************************************** */


.nav-bar{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-bottom: 4px solid rgb(247, 247, 247);
    padding: 15px;
}

.nav-bar-wrapper{
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 80px;
}

.logo img:nth-child(2){
    display: none;;
}

/* ----------------------------------------------------------- */

.nav-links-top{
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
}

.nav-links-top-left{
    display: flex;
    align-items: center;
    gap: 34px;
}

.nav-links-top-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links-top-right a:nth-child(2){
    text-decoration: underline;
    color: rgb(65, 94, 156) !important;
}

.nav-links-top-right a{
    text-decoration: none;
    color: var(--black);
    display: flex;
    align-items: center;
}

.nav-links-top-right p{
    margin-bottom: 0;
}

.language-btn {
    background-color: var(--white) !important;
    border-radius: none !important;
    border: none !important;
    color: black !important;
    font-size: 0.9em !important;
    padding: 0 !important;
  }

  .language-btn:hover {
    background-color: var(--white);
    color: var(--black);
  }

  .language-btn:active {
    background-color: inherit !important; /* Keeps the original color */
    border-color: inherit !important; /* Keeps the original border color */
    box-shadow: none !important; /* Removes the box-shadow */
  }

.sign-up a,
.career a{
    text-decoration: none;
    color: var(--black) !important;
}

.search{
    display: flex;
    align-items: center;
    gap: 5px;
}

.search img{
    width: 20px;
    filter: grayscale(100);
}

.search a{
    text-decoration: none;
    color: var(--black) !important;
}

.find-location{
    display: flex;
    align-items: center;
    gap: 5px;
}

.find-location img{
    width: 15px;
}

.nav-links-top-right button{
    background-color: var(--yellow);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    min-width: 115px;
}

/* ----------------------------------------------------------- */

.nav-links-bottom{
    font-size: 0.95em;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.nav-links-bottom a{
    text-decoration: none;
    color: var(--black) !important;
}

.menu{
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 4px solid rgb(217, 0, 0);
    padding-top: 4px;
}

.menu button{
  font-weight: bold;
}

/* ----------------------------------------------------------- */

.menu-dropdown-menu-wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu-menu{
    width: 100vw;
    padding: 40px;
    margin-top: 30px !important;
}

.menu-item-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
}

.menu-item{
    flex: 1 1 calc(33.33%); /* Makes each item take up 1/3 of the row, accounting for the gap */
    min-width: 300px;
    max-width: calc(1170px/3);
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-item img{
    width: 110px;
}

.menu-item p{
    margin: 0;
    font-size: 0.85em;
}

.full-menu-btn{
    margin-top: 30px;
}

.full-menu-btn button{
    padding: 20px;
    background-color: var(--white);
    border: 1px solid;
    border-radius: 5px;
}
/* ----------------------------------------------------------- */


.footer{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    margin-top: 50px;
    padding: 15px;
    margin-bottom: 30px;
}

/* ----------------------------------------------------------- */

.footer-links-wrapper{
    width: 1170px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.footer-about,
.footer-services,
.footer-community,
.footer-contact{
    max-width: 188px;
}

.footer-links ul{
    list-style: none;
    padding: 0;
}

.footer-links ul li{
    margin-bottom: 5px;
}

.footer-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: var(--black);
}

/* ----------------------------------------------------------- */

.footer-social-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.footer-social-links{
    display: flex;
    gap: 20px;
}

.footer-social-item img{
    width: 35px;
}

.footer-download-app img{
    width: 160px;
}


.accordion{
    display: none;
}

.accordion-item{
    border: none;
}

.accordion-button{
    padding: 16px 0;
}

.accordion-button:focus {
    color: var(--black);
    outline: none;
    box-shadow: none;
    background-color: var(--white);
}
  
.accordion-body{
    padding: 0;
}

.accordion-body ul{
    list-style: none;
    padding: 0;
}

.accordion-body li{
    margin-top: 5px;
}

.accordion-body li a{
    color: var(--black);
    text-decoration: none;
    font-size: 0.85em;
}


/* ----------------------------------------------------------- */

.footer-final{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid;
    padding-top: 50px;
}

.footer-final > .rights-img{
    width: 10%;
}

.privacy{
    width: 65%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.privacy a{
    text-decoration: none;
    color: var(--black);
    font-size: 0.9em;
}

.rights{
    width: 25%;
    display: flex;
    align-items: start;
    gap: 20px;
}

.rights img{
    display: none;
}

/* This is my code */
#content-container{
    display: flex!important;
    flex-direction: column;
    align-items: center!important;
}
#container{
    display: flex;
    flex-direction: column;
    width: 1170px;
}
#top-bar{
    margin-top: 100px;
    display: flex;
}
#top-bar a{
    text-decoration: none;
    color: black;
}
#top-bar{
    width: 100%;
}
#sidebar{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 25%;
}
#sidebar a{
    display: flex;
}
#sidebar p{
    margin: 0;
    align-self: center;
    font-size: 1rem;
    margin-left: 15px;
    font-weight: 500;
}
#feature-favorite::before{
    content: " ";
    background-color: rgb(215, 0, 0);
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
}
#feature-favorite{
    overflow: hidden;
    position:relative;
    border: 1px solid gray;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
#feature-favorite img{
    width: 80px;
}
#feature-grid > a > p{
    font-weight: 500!important;
    font-size: 1rem!important;
}
#feature-grid>a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#feature-grid>a>img{
    width: 150px;
}
#feature-menu{
    width: 75%;
}
#feature-menu p:nth-child(1){
    margin: 0;
    height: 10%;
    justify-self: center;
    font-size: 3rem;
    font-weight: bold;
}
#feature-menu p:nth-child(2){
    margin: 0;
    height: 5%;
    justify-self: center;
    font-size: 2.25rem;
    font-weight: bold;
}
#side{
    border: 1px solid gray;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}
#side img{
    width: 80px;
    height: 80px;
}
#feature-grid >a>p{
    width:75%;
}
#breakfast-grid >a>p{
    width:75%;
}
#burgers-grid >a>p{
    width:75%;
}
#happy-container >a>p{
    width:75%;
}
#cafe-grid >a>p{
    width:75%;
}
#sweet-grid >a>p{
    width:75%;
}
#drink-grid >a>p{
    width:75%;
}
#content-container a>p{
    margin-top:20px;
}
#feature-grid{
    margin-top: 100px;
    text-align: center;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
}
#breakfast-bar{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
#breakfast-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#breakfast-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#breakfast-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
#breakfast-grid a img{
    width: 150px;
}
#breakfast-grid a p{
    font-weight: 500;
}
#burgers-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#chicken-grid{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#McNuggets-bar p{
    margin: 0;
}
#McNuggets-bar a{
    margin-bottom: 100px;
    text-align: center;
}
#fries-grid{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#happy-container{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#cafe-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#sweet-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#drink-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#dollar-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
#burgers-grid a p{
    font-weight: 500;
}
#chicken-grid a p{
    font-weight: 500;
}
#McNuggets-bar a p{
    font-weight: 500;
}
#McNuggets-bar a{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fries-grid a p{
    font-weight: 500;
}
#happy-meal-bar a p{
    font-weight: 500;
}
#cafe-grid a p{
    font-weight: 500;
}
#dollar-grid a p{
    font-weight: 500;
}
#sweet-grid a p{
    font-weight: 500;
}
#drink-grid a p{
    font-weight: 500;
}
#burgers-bar{
    display: flex;
    flex-direction: column;
}
#burgers-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#burgers-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#burgers-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
#burgers-grid a img{
    width: 150px;
}
#chicken-fish-sw-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#chicken-fish-sw-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#chicken-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#chicken-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
#chicken-grid a img{
    width: 150px;
}
#McNuggets-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#McNuggets-bar p:nth-child(1){
    font-size: 2rem;
    font-weight: bold;
}
#McNuggets-bar a{
    align-self: flex-start;
    text-decoration: none;
    color: black;
}
#McNuggets-bar a img{
    width: 150px;
}
#fries-bar{
    display: flex;
    flex-direction: column;
}
#fries-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#fries-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#fries-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
#fries-grid a img{
    width: 150px;
}
#mccafe-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#mccafe-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#cafe-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#cafe-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
#cafe-grid a img{
    width: 150px;
}
#sweets-treats-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#sweets-treats-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#sweet-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#sweet-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
#sweet-grid a img{
    width: 150px;
}
#beverages-bar{
    display: flex;
    flex-direction: column;
}
#beverages-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#drink-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#drink-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
#drink-grid a img{
    width: 150px;
}
#dollar-menu-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#dollar-menu-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#dollar-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#dollar-grid a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
#dollar-grid a img{
    width: 150px;
}
#happy-meal-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#happy-meal-bar p:nth-child(1){
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
}
#happy-meal-bar a img{
    width: 150px;
}
#happy-meal-bar a{
    text-decoration: none;
    color: black;
}
#happy-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 300px;
}
#happy-container a{
    justify-items: center;
}
#some-random-text-at-the-bottom p:nth-child(2){
    margin-bottom: 50px;
    font-size: 0.5rem;
    font-weight: 500;
}
#some-random-text-at-the-bottom p:nth-child(1){
    font-size: 0.875rem;
    font-weight: 500;
}
#ads{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#ads div{
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
    width: 30%;
}
#ads img{
    width: 100%;
}
#ads>div p:nth-of-type(1){
    font-weight: bold;
    font-size: 1.375rem;
    margin: 15px;
    height: 15%;
}
#ads>div p:nth-of-type(2){
    margin: 15px;
    font-size: 0.875rem;
    font-weight: 500;
    height: 15%;
}
#ads>div p:nth-of-type(3){
    margin: 15px;
    font-size: 0.675rem;
    font-weight: 500;
}
#ads button{
    margin: 15px;
    background-color: #FFC72C;
    border: none;
    border-radius: 5px;
    height: 45px;
    padding: 10px;
}
#important-note{
    padding-top: 100px;
    font-size: 0.625rem;
    font-weight: 500;
}
#hidden-menu{
    display: none;
}
/* ----------------------------------------------------------- */

@media (max-width: 1200px){
   #container{
    width: 90%;
   } 
}
@media (max-width: 1024px){
    #top-bar{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #hidden-menu{
        display: block;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 100px;
    }
    #sidebar{
        width: 100%;
        margin-bottom: 100px;
    }
    #side{
        width: 100%;
        border: none;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #side a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #menu{
        display: none;
    }
    #side img{
        width: 144px;
        height: 144px;
    }
    #feature-favorite{
        display: none;
    }
    #container{
        align-items: center;
    }
    #feature-menu{
        text-align: center;
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #ads{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
    }
    #ads div{
        width: 100%;
    }
     #feature-grid{
        align-items: center;
    margin-top: 100px;
    text-align: center;
    height: 85%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#chicken-fish-sw-bar p{
    text-align: center;
}
#feature-grid a{
    height: 174px;
}
#breakfast-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#burgers-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#chicken-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#McNuggets-bar{
    width: 100%;
    display: flex;
}
#McNuggets-bar a{
    width: 50%;
    display: flex;
}
#fries-bar{
    width: 100%;
}
#fries-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#happy-container{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#cafe-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#sweet-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#drink-grid{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
#dollar-grid{
    margin-top: 100px;
    margin-bottom: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
}
    .nav-bar{
        padding:5px;
    }
    .logo img{
        width: 40px;
    }
    .logo img:nth-child(2){
        display: block !important;
        width: 25px;
        cursor: pointer;
    }
    .nav-links-top-left{
        display: none;
    }
    .nav-links-top-right a{
        display: none;
    }
    .nav-links-bottom{
        display: none;
    }
    .footer-links{
        display: none;
    }
    .accordion{
        display: block;
    }
    .footer-social-wrapper{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .footer-social-links{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-download-app{
        width: 65%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-final{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .privacy{
        justify-content: center;
        gap: 15px;
        font-size: 0.75em;
        width: 65%;
    }
    .privacy a:nth-child(1){
        text-align: center;
        width: 100%;
    }
    .footer-final p{
        font-size: 0.75em;
    }

    .rights-img{
        display: none;
    }
    .rights{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65%;
        margin-top: 15px;
    }
    .rights p{
        margin-bottom: 0;
    }
    .rights img{
        display: block;
        width: 20px;
    }
}